// _variables.scss
// =================
@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700);
 
$beige         : #E3C691;
 
$headFont : 'Rokkitt', serif;
$bodyFont : 'Helvetica', sans-serif;